body {
	background-color: #fff;
	/*background-image: url("../images/landscape.jpg");*/
	/*background-attachment: fixed;*/
}


.bg1, .bg2 , .bg3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bg1 {
    background-image: url("../images/acoustic.jpg");
    min-height: 100%;
    height: 800px;

}

/* Second image (Portfolio) */
.bg2 {
    background-image: url("../images/sunday.jpg");
    min-height: 100%;
    height: 800px;
}

/* Third image (Contact) */
.bg3 {
    background-image: url("../images/aerial.jpg");
    min-height: 100%;
    height: 800px;
}


